.contacts-main {
  padding: 80px 0 0 0;
}

.title-container {
  display: flex;
  justify-content: center;
}

.title {
  font-family: "Rajdhani", sans-serif;
  font-weight: 700;
  font-size: 45px;
  text-align: center;
  color: #ab2727;
  border-radius: 40px;
  text-transform: uppercase;
}
.main-content {
  padding: 70px 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.first-col {
  display: flex;
  flex-direction: column;
  gap: 70px;
  padding: 0 60px 0 0;
}

h2 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 30px;
  text-align: left;

  width: fit-content;
  padding: 0 20px 0 0;
  border-bottom: 2px solid #000000;
  color: #ab2727;
}

.main-content a,
.main-content span {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 24px;

  color: black;
}

.email-container,
.cellphone-container,
.address-container {
  display: flex;
  flex-direction: column;
}

.cellphone-container,
.email-container {
  align-items: flex-start;
  gap: 15px;
}

.cellphone-container span {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.cellphone-container strong {
  font-family: "Inter", sans-serif;
  color: #fff;
  background: #ab2727;
  border-radius: 25px;
  padding: 8px;
}

.contatos {
  display: flex;
}

.rs-flag {
  width: 40px;
  height: auto;
}

.wpp-icon {
  font-size: 40px;
}

.address {
  padding: 10px 0 5px 0;
}

iframe {
  max-width: 600px;
  max-height: 450px;
  width: 40vw;
  height: calc(0.75 * 40vw);
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
}

@media (max-width: 999px) {
  .contacts-main {
    padding: 40px 0 0 0;
  }

  .main-content {
    padding: 60px 0;
    flex-wrap: wrap;
    gap: 80px;
    justify-content: center;
    align-items: center;
  }

  .email-container a,
  .cellphone-container span {
    font-size: 20px;
  }

  .email-container a {
    padding: 5px 0;
  }

  .first-col {
    gap: 50px;
    padding: 0 40px;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }

  .address-container {
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  iframe {
    width: 60vw;
    height: calc(0.75 * 60vw);
  }

  #address-h2 {
    padding: 2px 10px;
  }
}

@media (max-width: 750px) {
  .contacts-main {
    padding: 20px 0 0 0;
  }

  .title {
    font-size: 35px;
  }

  .main-content {
    gap: 40px;
    padding: 30px;
  }

  .first-col {
    gap: 25px;
    padding: 0 20px;
  }

  .email-container a,
  .cellphone-container span {
    font-size: 18px;
  }

  .cellphone-container span {
    gap: 8px;
  }

  .cellphone-container strong {
    padding: 5px;
  }

  .wpp-icon {
    width: 30px;
  }

  .rs-flag {
    width: 30px;
  }
}

@media (max-width: 550px) {
  h2 {
    font-size: 18px;
  }

  .main-content {
    padding: 20px;
  }

  .first-col {
    padding: 0;
    gap: 15px;
  }
  .email-container a,
  .cellphone-container span {
    font-size: 12px;
  }

  .email-container a {
    padding: 10px 0;
  }

  .cellphone-container span {
    gap: 2px;
  }

  .cellphone-container strong {
    padding: 2px;
    font-size: 10px;
    border-radius: 5px;
  }

  .wpp-icon {
    width: 20px;
  }

  .rs-flag {
    display: none;
  }

  .address-container span {
    font-size: 18px;
  }
}
