.contacts-main {
  padding: 60px 0 20px 0;
}

.title-container {
  display: flex;
  justify-content: center;
}

.title {
  font-family: "Rajdhani", sans-serif;
  font-weight: 700;
  font-size: 45px;
  padding: 5px 40px;
  background-color: #ab2727;
  color: #fff;
  border-radius: 40px;
  text-transform: uppercase;
}
.main-content {
  padding: 50px 80px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
}

.first-col {
  display: flex;
  flex-direction: column;
  gap: 150px;
}

h2 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 30px;
  text-align: left;

  width: fit-content;
  padding: 0 20px 0 0;
  border-bottom: 2px solid #000000;
  color: #ab2727;
}

.main-content a,
.main-content span {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 22px;

  color: black;
}

.email-container,
.cellphone-container,
.address-container {
  display: flex;
  flex-direction: column;
}

.cellphone-container,
.email-container {
  align-items: flex-start;
  gap: 15px;
}

.cellphone-container span {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.cellphone-container strong {
  font-family: "Inter", sans-serif;
  color: #fff;
  background: #ab2727;
  border-radius: 25px;
  padding: 8px;
}

.contatos {
  display: flex;
}

.rs-flag {
  width: 40px;
  height: auto;
}

.wpp-icon {
  font-size: 40px;
}

.address {
  padding: 10px 0 5px 0;
}

.map-wrapper {
  padding: 10px 0;
  width: 500px;
  max-width: 700px;
}

.googlemap {
  width: 100%;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
}
