.main-content {
  display: flex;
  flex-direction: column;
  padding: 60px 40px 0 40px;
}

.page-title {
  font-family: "Rajdhani", sans-serif;
  font-weight: 700;
  font-size: 60px;
  text-transform: uppercase;
  margin: 0 auto;

  color: #ab2727;
}

.page-content {
  padding: 80px 140px;
}

.page-subtitle {
  font-family: "Rajdhani", sans-serif;
  font-weight: 700;
  font-size: 45px;

  color: #615a8a;
  text-transform: uppercase;
}

.topics-container {
  padding: 80px 0;
  display: flex;
  justify-content: space-between;
}

.topics-content {
  display: flex;
  flex-direction: column;
  gap: 30px;

  max-width: 650px;
  max-height: 365px;
}

#inverted-container {
  flex-direction: row-reverse;
}

.topics-img {
  max-width: 730px;
  max-height: 365px;
}

.topics-title {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 40px;

  color: #000000;
}

.line {
  width: 60px;
  border: 2px solid #ab2727;
}

.text {
  width: 100%;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 20px;
  text-align: justify;

  color: #000000;
}
