.main-content {
  display: flex;
  flex-direction: column;
  padding: 60px 40px 0 40px;
}

.page-title {
  font-family: "Rajdhani", sans-serif;
  font-weight: 700;
  font-size: 60px;
  text-transform: uppercase;
  margin: 0 auto;

  color: #ab2727;
}

.page-content {
  padding: 80px 140px;
}

.page-subtitle {
  font-family: "Rajdhani", sans-serif;
  font-weight: 700;
  font-size: 45px;

  color: #615a8a;
  text-transform: uppercase;
}

.line-title {
  width: 250px;

  border: 2px solid #ab2727;
}
