@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;700;800&family=Rajdhani:wght@700&display=swap&display=swap");

:root {
  --windowWidth: 1.5s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  border: 0;
  outline: 0;
}

body {
  font-size: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

header {
  max-width: 1903px;
  width: 100%;

  .navbar {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
  }

  .brand-title a {
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
    margin: 0.5rem;
    color: #ffffff;
  }

  .brand-title:hover {
    transition: 500ms;
    transform: scale(1.1);
  }

  .navbar-links ul {
    display: flex;
  }

  .navbar-links li a {
    font-family: "Inter", sans-serif;
    color: #fff;
    padding: 16px;
    display: block;
  }

  .navbar-links li:hover {
    background-color: #555;
    transition: 0.5s;
  }

  .toggle-button {
    display: none;
    position: absolute;
    top: 0.75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
  }

  .toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
  }

  .toggle-button:hover {
    transform: scale(1.1);
    transition: 500ms;
  }
}

.main {
  display: flex;
  flex-wrap: wrap;

  .main-logo-text {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    #img-logo {
      padding: 20px 0;
      width: 35vw;
      height: auto;
    }

    #h2-subtitle {
      padding: 0 0 15px 0;
      font-family: "Rajdhani", sans-serif;
      font-size: 1.5rem;
      font-weight: 700;

      color: #615a8a;
    }
  }

  #carousel-main {
    display: flex;

    position: relative;
    width: 100vw;
    overflow: hidden;

    #btnL {
      left: 0px;
      margin-left: 20px;
    }

    #btnR {
      right: 0px;
      margin-right: 20px;
    }

    .btn {
      position: absolute;
      top: 150px;
      display: flex;
      align-items: center;
      justify-content: center;

      width: 50px;
      height: auto;

      background: #fff;
      border-radius: 60px;

      z-index: 2;

      cursor: pointer;

      #btn-img {
        display: flex;
        font-size: 50px;
      }
    }
    .btn:hover {
      color: #fff;
      background-color: #1b547a;
      transition: 500ms;
    }

    .animate {
      transition-duration: unquote(#{var(--windowWidth)});
    }

    #carousel-items {
      display: flex;
      scroll-snap-type: x mandatory;
      scroll-behavior: smooth;

      .carousel-content {
        flex: none;

        width: 100%;
        height: 400px;

        scroll-snap-align: start;

        z-index: 1;
      }

      .carousel-images {
        width: 100%;
        height: 100%;

        object-fit: cover;
      }
    }
  }
}

.first-section {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: space-between;
  padding: 40px 30px;

  #main-aboutUs {
    width: 50vw;
    border-right: 1px solid #000000;

    .main-aboutUs-content {
      padding: 0 30px 0 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 15px;

      .title {
        font-family: "Rajdhani", sans-serif;
        font-size: 40px;
        font-weight: 700;

        color: #ab2727;
      }

      .img {
        font-size: 45px;
      }

      .text {
        font-family: "Inter";
        font-size: 20px;
        font-weight: 500;
        text-align: center;
        line-height: 30px;

        color: #000000;
      }
    }
  }

  #main-data {
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 0 0 30px;

    .main-data-content {
      padding: 20px 0;
      width: 100%;
      height: 100%;
      background-color: #f4f4f4;
      display: flex;
      align-items: flex-end;

      flex-wrap: wrap;

      .first-group-container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .data-containers {
        padding: 20px 20px;
        span {
          display: flex;
          align-items: center;
          gap: 10px;
          font-family: "Rajdhani", sans-serif;
          font-size: 40px;
          font-weight: 700;

          color: #423d62;

          .data-img {
            font-size: 50px;
          }
        }
        font-size: 18px;
      }

      #data-specific {
        span {
          font-size: 55px;
        }

        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
      }

      #services-div-button {
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        padding: 0 20px 0 0;

        a {
          padding: 5px;
          font-family: "Inter", sans-serif;
          font-weight: 700;
          font-size: 16px;
          background-color: #ab2727;
          border-radius: 20px;

          color: #fff;
        }

        a:hover {
          background-color: #721e1e;
          transition: 500ms;
          transform: scale(1.1);
        }

        a::after {
          content: " ->";
        }
      }
    }
  }
}

.second-section {
  max-width: 1903px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    padding: 0 15px;
    font-family: "Rajdhani", sans-serif;
    font-size: 55px;
    font-weight: 700;

    color: #ab2727;
    border-bottom: 1.5px solid #000000;
  }

  .image-layout {
    width: 60%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0 50px;

    img {
      width: 15vw;
      height: auto;
    }
  }

  #know-btn {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    padding: 15px 50px 30px 0;

    a {
      cursor: pointer;
      font-family: "Inter", sans-serif;
      font-size: 18px;
      font-weight: 700;
      color: #ffffff;
      background-color: #ab2727;
      border-radius: 10px;
      padding: 5px;
    }

    a::after {
      content: " ->";
    }
    a:hover {
      background-color: #721e1e;
      transition: 500ms;
      transform: scale(1.1);
    }
  }
}

footer {
  display: flex;
  justify-content: space-between;

  width: 100%;
  height: 8vh;
  background-color: #d1d1d1;
  padding: 5px 10px;

  #fibrasul-logo {
    width: 80px;
    height: 40px;
  }

  .contatos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    .email-content {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      gap: 4px;
    }

    .telefone-content {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      gap: 4px;
    }

    .contact-a {
      text-decoration: none;
      font-family: "Inter", sans-serif;
      font-size: 12px;
      font-weight: 600;

      color: #000000;
    }

    .contact-a:hover {
      color: #284f69;
      transition: 250ms;
    }
  }
}

@media (max-width: 999px) {
  .main {
    .main-logo-text {
      margin-bottom: 5px;
      #img-logo {
        width: 30vw;
      }
      #h2-subtitle {
        font-size: 1.2rem;
      }
    }

    #carousel-main {
      height: auto;

      .btn {
        top: 120px;
      }

      #carousel-items {
        .carousel-content {
          height: 300px;
        }
      }
    }

    .first-section {
      flex-direction: column;

      #main-aboutUs {
        padding-bottom: 40px;
        width: 100%;
        border: none;

        .main-aboutUs-content {
          padding: 0;
        }
      }

      #main-data {
        padding: 0;
        width: 100%;
        display: flex;
        align-items: center;
        margin: 0px;

        .main-data-content {
          #services-div-button {
            padding-right: 30px;

            a {
              font-size: 14px;
            }
          }
        }
      }
    }

    .second-section {
      h1 {
        font-size: 40px;
      }

      #know-btn {
        a {
          font-size: 14px;
        }
      }
    }
  }
}

@media (max-width: 750px) {
  header {
    justify-content: center;
    .navbar {
      align-items: flex-start;
      margin-bottom: 15px;

      .toggle-button {
        display: flex;
        position: absolute;
        top: 18px;
      }

      li {
        a {
          font-size: 14px;
        }
      }
    }
  }

  .navbar-links {
    width: 100%;
    display: none;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-links ul {
    margin-top: 5px;
    width: 100%;
    flex-direction: column;
    border-top: 4px solid rgb(87, 87, 87);
  }

  .navbar-links li {
    text-align: center;
  }

  .navbar-links li a {
    padding: 0.7rem 1rem;
  }

  .navbar-links.active {
    display: flex;
  }

  .main {
    .main-logo-text {
      #h2-subtitle {
        font-size: 0.95rem;
      }
    }

    .first-section {
      padding: 25px 20px;
      #main-aboutUs {
        padding-bottom: 20px;
        .main-aboutUs-content {
          gap: 10px;
          .title {
            font-size: 30px;
          }
          .text {
            font-size: 16px;
            text-align: center;
          }

          .img {
            font-size: 30px;
          }
        }
      }

      #main-data {
        .main-data-content {
          .data-containers {
            padding: 5px;
            font-size: 14px;
          }
          #services-div-button {
            padding-right: 20px;

            a {
              font-size: 12px;
            }
          }
        }
      }
    }

    .second-section {
      h1 {
        font-size: 25px;
      }

      .image-layout {
        width: 70%;
        gap: 0 50px;
        img {
          width: 100px;
        }
      }

      #know-btn {
        padding: 20px 20px 20px 0;
        a {
          font-size: 11px;
        }
      }
    }
  }

  footer {
    #fibrasul-logo {
      width: 90px;
    }
    .icon {
      width: 15px;
    }
    .contatos {
      .contact-a {
        font-size: 10px;
      }
    }
  }
}

@media (max-width: 530px) {
  .main {
    .main-logo-text {
      #img-logo {
        width: calc(30vw + 30px);
      }
      #h2-subtitle {
        font-size: 0.65rem;
      }
    }

    #carousel-main {
      .btn {
        top: 75px;
        width: 30px;
        height: 30px;
        border-radius: 30px;
        #btn-img {
          font-size: 30px;
        }
      }
      #carousel-items {
        .carousel-content {
          height: 200px;
        }
      }
    }

    .first-section {
      #main-aboutUs {
        .main-aboutUs-content {
          .title {
            font-size: 25px;
          }
          .text {
            font-size: 14px;
            line-height: 20px;
          }
          .img {
            width: 25px;
          }
        }
      }

      #main-data {
        .main-data-content {
          .data-containers {
            span {
              font-size: 30px;
            }
          }

          #data-specific span {
            font-size: 40px;
          }

          #services-div-button {
            padding-top: 15px;
            a {
              font-size: 9px;
            }
          }
        }
      }
    }

    .second-section {
      h1 {
        font-size: 20px;
        padding: 0 10px;
      }

      .image-layout {
        gap: 0 20px;
        width: 80%;

        img {
          width: 80px;
        }
      }

      #know-btn {
        a {
          font-size: 9px;
        }
      }
    }
  }

  footer {
    .contatos {
      .contact-a {
        font-size: 8px;
      }
    }
  }
}
