#carousel-section {
  margin-top: 180px;
}

.main #carousel-main {
  display: flex;
  position: relative;
  width: 100vw;
  overflow: hidden;
}

.main #carousel-main #btnL {
  left: 0rem;
  margin-left: 1.25rem;
}
.main #carousel-main #btnR {
  right: 0rem;
  margin-right: 1.25rem;
}
.main #carousel-main .btn {
  position: absolute;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.125rem;
  height: auto;
  border: solid 0.0625rem black;
  border-radius: 3.75rem;
  z-index: 222;
  cursor: pointer;
  transition: all 0.2s;
  transform: translateY(-50%)
}
.main #carousel-main .btn #btn-img {
  display: flex;
  font-size: 3.125rem;
}
.main #carousel-main .btn:hover {
  border: none;
  background: #fff;
}
.main #carousel-main .animate {
  transition-duration: var(--windowWidth);
}
.main #carousel-main #carousel-items {
  display: flex;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}
.main #carousel-main #carousel-items .carousel-content {
  flex: none;
  width: 100%;
  height: 25rem;
  scroll-snap-align: start;
  z-index: 1;
}
.main #carousel-main #carousel-items .carousel-images {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-bullet-nav-container {
  margin: 0 auto;
  margin-top: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
}

.carousel-bullet-nav-container li {
  width: 1.5625rem;
  height: 1.5625rem;
  border-radius: 6.25rem;
  border: solid 0.0625rem var(--red-900);
  background: var(--red-900);
}

.bullet-nav span {
  display: none;
}

.carousel-bullet-nav-container li.selected {
  background: transparent;
}

@media(max-width: 768px) {
  .main #carousel-main #carousel-items .carousel-content {
    height: 15rem;
  }

  .main #carousel-main .btn {
    display: none;
  }
}