.main #carousel-main {
  display: flex;
  position: relative;
  width: 100vw;
  overflow: hidden;
}

.main #carousel-main #btnL {
  left: 0px;
  margin-left: 20px;
}
.main #carousel-main #btnR {
  right: 0px;
  margin-right: 20px;
}
.main #carousel-main .btn {
  position: absolute;
  top: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: auto;
  border: solid 1px black;
  border-radius: 60px;
  z-index: 222;
  cursor: pointer;
  transition: all 0.2s;
}
.main #carousel-main .btn #btn-img {
  display: flex;
  font-size: 50px;
}
.main #carousel-main .btn:hover {
  border: none;
  background: #fff;
}
.main #carousel-main .animate {
  transition-duration: var(--windowWidth);
}
.main #carousel-main #carousel-items {
  display: flex;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}
.main #carousel-main #carousel-items .carousel-content {
  flex: none;
  width: 100%;
  height: 400px;
  scroll-snap-align: start;
  z-index: 1;
}
.main #carousel-main #carousel-items .carousel-images {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-bullet-nav-container {
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.bullet-nav {
  width: 25px;
  height: 25px;
  border-radius: 100px;
  border: solid 1px var(--red-900);
}

.bullet-nav span {
  display: none;
}

.actual-carousel-bullet {
  background: var(--red-900);
}
