@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;600&family=Roboto:wght@400;500;700;800;900&display=swap");

@import "header.css";
@import "carousel.css";
@import "cards.css";
@import "portfolio.css";
@import "partners.css";
@import "data.css";
@import "team.css";
@import "footer.css";

:root {
  --cyan-900: #164e63;

  --stone-50: #fafaf9;
  --stone-100: #f5f5f4;

  --gray-100: #f3f4f6;
  --gray-200: #e5e7eb;

  --zinc-200: #e4e4e7;
  --zinc-400: #a1a1aa;

  --red-900: #7f1d1d;

  --neutral-200: #e5e5e5;
  --neutral-600: #565656;
  --neutral-700: #404040;
  --neutral-800: #262626;
  --neutral-900: #171717;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  border: 0;
  outline: 0;
}

body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: var(--neutral-900);
  font-size: 18px;
}

li {
  list-style: none;
}

input,
textarea,
button {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

h1 {
  font-size: 2.9rem;
  white-space: nowrap;
  font-weight: 700;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.45rem;
}

p,
span {
  font-size: 1.125rem;
}

.sr-only {
  display: none;
}

.resize-animation-stopper * {
  animation: none !important;
  transition: none !important;
}

/* width */
::-webkit-scrollbar {
  width: 0.5rem;
  border-radius: 0.25rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#cards-section {
  padding: 0rem 5rem 0;
}

#partners-section {
  padding: 0 5rem 0;
}

#team-section {
  padding: 0 5rem 11rem;
}

@media (max-width: 81.25rem) {
  html {
    font-size: 80%;
  }
  #cards-section h1,
  .card-subtitle,
  #partners-section > h2 {
    text-align: center;
  }
}

@media (max-width: 48rem) {
  html {
    font-size: 70%;
  }
}

@media (max-width: 768px) {
  #cards-section {
    margin-top: 5rem;
  }
}

@media (max-width: 32rem) {
  h1 {
    font-size: 2.6rem;
  }
  html {
    font-size: 50%;
  }
}
