#partners-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#partners-section > h3 {
  color: var(--red-900);
}

#partners-section > h1 {
  text-align: center;
}

.partners-galery-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5625rem;
  margin-top: 1.75rem;
}

.partners {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;

  aspect-ratio: 1.5;
  background: var(--neutral-800);
}

.partners > img {
  width: 100%;
  max-height: 120px;
  height: 100%;
  object-fit: contain;
}

.partners-galery-container + button {
  margin-top: 2.5rem;
  background: #fff;
  border-radius: 3.125rem;
  padding: 0.625rem 1rem;
  font-size: 1.375rem;
  font-weight: 600;
  border-radius: 3.125rem;
  border: 0.125rem solid var(--red-900);
  cursor: pointer;
  transition: all 0.2s;
}

.partners-galery-container + button:hover {
  background: var(--red-900);
  color: #fff;
}

@media (max-width: 56.25rem) {
  .partners-galery-container {
    width: 100%;
  }

  .partners {
    width: 9.375rem;
  }

  .disabled-small-screen {
    display: none;
  }
}
